@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
:root {
  --color-primary: #acacb9;
  --color-secondary: #3b4c61;
  --color-white: #fff;
  --background-img: url('../images/header_background2.jpeg');
  --color-secondary-transparent: #3b5c61b8; }

.text-primary {
  color: var(--color-primary); }

.text-secondary {
  color: var(--color-secondary); }

.heading {
  font-size: 3.5rem;
  display: inline-block;
  letter-spacing: 2px;
  transition: all .2s; }

a {
  color: var(--color-secondary); }
  a:visited {
    color: var(--color-secondary); }

button {
  font-family: 'Poppins', sans-serif; }

form label {
  font-size: 1.6rem; }

form input, form textarea {
  font-family: 'Poppins', sans-serif;
  padding: .5rem 1rem;
  border: none;
  border-radius: 1rem;
  border-bottom: 0.5rem solid var(--color-secondary);
  outline: none;
  width: 100%;
  min-height: 3rem; }

.curtain {
  background: var(--color-primary);
  z-index: 8000;
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateX(100%); }

.curtain.animate {
  animation: slideFromRightAllTheWay .5s linear; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideFromRightAllTheWay {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

html {
  font-size: 65%;
  scroll-behavior: smooth; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 100vw;
  background: var(--color-primary);
  font-family: 'Poppins', sans-serif; }

@media (max-width: 850px) {
  html {
    font-size: 50%; } }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked ~ .navigation__item {
    width: 100%; }
  .navigation__button {
    text-align: center;
    background-color: var(--color-primary);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(var(--color-secondary), 0.2);
    cursor: pointer; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg); }
  .navigation__background {
    z-index: 1000;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(var(--color-primary), black);
    transition: transform 0.8s; }
  .navigation__nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .navigation__item {
    margin: 2.5rem;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-secondary);
    text-decoration: none;
    transition: all 0.2s; }
    .navigation__item:hover {
      transform: scale(1.05) translateY(-0.5rem); }
  .navigation__link {
    cursor: pointer;
    text-decoration: none; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
    transition: all 0.3s; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 0.2rem;
      background-color: black;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__themes {
    position: fixed;
    top: 6rem;
    left: 6rem;
    z-index: 3010;
    display: flex;
    flex-direction: row; }
  .navigation__theme {
    border-bottom: 0.1rem solid black;
    border-right: 0.1rem solid black;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin: 0.6rem;
    transition: all 1s;
    cursor: pointer; }
    .navigation__theme--1 {
      background: #ffe15f; }
    .navigation__theme--2 {
      background: #3b4c61; }
    .navigation__theme--3 {
      background: #feffee; }

@media (max-width: 850px) {
  .navigation__themes {
    flex-direction: column; } }

.projects {
  z-index: 1;
  max-width: 100vw;
  min-height: 100vh;
  border-top: 0.1rem solid var(--color-secondary);
  display: flex;
  align-items: center;
  flex-direction: column; }
  .projects__heading {
    margin: 5rem; }
  .projects__paragraph {
    max-width: 50rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem; }
  .projects__card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    padding: 3rem; }
  .projects .card {
    margin: 4rem;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    width: 30rem;
    height: 50rem;
    background: var(--color-primary);
    border: 0.4rem solid var(--color-secondary); }
    .projects .card::before {
      border-radius: inherit;
      z-index: -1;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background: var(--color-secondary);
      position: absolute;
      top: -2rem;
      left: 2rem; }
    .projects .card__title {
      color: var(--color-secondary);
      font-size: 2rem;
      letter-spacing: 0.2rem;
      margin: 1rem 0; }
    .projects .card__img-container {
      position: relative;
      border-radius: 1rem;
      margin: 1rem 0;
      width: 100%;
      height: 20rem;
      background: pink; }
    .projects .card__img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      object-position: center; }
    .projects .card__description {
      margin: 1rem 0;
      text-align: center;
      font-size: 1.4rem; }
    .projects .card__github {
      position: absolute;
      left: 2rem;
      bottom: 2rem;
      font-size: 1.5rem; }
      .projects .card__github i {
        margin-right: 0.5rem; }
    .projects .card__live-demo {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      font-size: 1.5rem; }

@media (max-width: 1150px) {
  .projects__card-container {
    display: flex;
    flex-direction: column; }
  .card {
    width: 85%;
    height: 20rem; } }

.header {
  z-index: -1;
  max-width: 100vw;
  height: 100vh;
  background-image: var(--background-img);
  background-attachment: fixed;
  background-size: cover;
  background-position: left; }

.about {
  z-index: 1;
  position: absolute;
  right: 0;
  background: var(--color-secondary);
  width: 80rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem; }
  .about__avatar {
    border: 0.5rem solid var(--color-primary);
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    position: relative;
    animation: slideFromRight 1.4s ease-out;
    transition: all .5s; }
    .about__avatar:hover {
      transform: rotate(360deg); }
  .about__img {
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }
  .about__body {
    padding: 5rem;
    color: var(--color-white);
    font-size: 2.5rem;
    text-align: center;
    animation: slideFromLeft 1.4s ease-out; }
  .about__button {
    animation: slideFromRight 1.4s ease-out;
    font-family: 'Poppins', sans-serif;
    position: relative;
    border: none;
    padding: 1.5rem 2.1rem;
    background: var(--color-primary);
    border-radius: 10rem;
    font-size: 2.5rem;
    transition: all .1s; }
    .about__button::after {
      z-index: -1;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      background: white;
      position: absolute;
      top: .5rem;
      left: .5rem; }
    .about__button:active, .about__button:focus {
      outline: none;
      border: none; }
    .about__button:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .about__button:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      font-size: 1.95rem; }
  .about__github {
    position: absolute;
    font-size: 4.5rem;
    bottom: 2rem;
    left: 2rem;
    transition: all .5s;
    animation: fadeIn 1.4s ease-out; }
    .about__github:hover {
      cursor: pointer;
      color: var(--color-white);
      transform: scale(0.98); }

@media (max-width: 1400px) {
  .about {
    width: 100vw;
    background: var(--color-secondary-transparent); }
    .about__body {
      padding: 2rem; } }

@media (max-width: 850px) {
  .about__github {
    left: 3rem;
    bottom: 3rem; } }

.skills {
  max-width: 100vw;
  min-height: 50vh;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  padding: 2rem 0;
  flex-direction: column; }
  .skills__heading {
    margin: 2rem 0; }
  .skills__container {
    display: flex;
    text-align: center; }
  .skills__category {
    min-width: 40rem; }
  .skills__label {
    font-size: 2.4rem;
    text-decoration: underline; }
  .skills__list {
    font-size: 1.7rem;
    list-style: none; }

@media (max-width: 1150px) {
  .skills__container {
    flex-direction: column; }
  .skills__category {
    margin-bottom: 4rem; } }

.contact {
  margin-bottom: 1rem;
  max-width: 100vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .contact__heading {
    margin: 5rem 0; }
  .contact__form {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60rem; }
  .contact__message {
    height: 10rem; }
  .contact__textarea {
    min-height: 16rem; }
  .contact__button {
    position: relative;
    border: none;
    padding: 1rem 1.5rem;
    background: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 10rem;
    font-size: 1.5rem;
    cursor: pointer; }

@media (max-width: 680px) {
  .contact__form {
    width: 90%; } }

.footer {
  max-width: 100vw;
  min-height: 5vh;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  align-items: center; }
  .footer__github {
    margin: 2rem;
    color: var(--color-primary);
    font-size: 3rem;
    transition: all .5s; }
    .footer__github:hover {
      cursor: pointer;
      color: var(--color-white);
      transform: scale(0.95); }
  .footer__copyright {
    font-size: 1.8rem; }
