@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
.text-primary {
  color: #ffe15f; }

.text-secondary {
  color: #000; }

.heading {
  font-size: 3.5rem;
  display: inline-block;
  letter-spacing: 2px;
  transition: all .2s; }

a {
  color: #000; }
  a:visited {
    color: #000; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

html {
  font-size: 65%;
  scroll-behavior: smooth; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 100vw;
  background: #ffe15f;
  font-family: 'Poppins', sans-serif; }

@media (max-width: 850px) {
  html {
    font-size: 50%; } }

.projects {
  z-index: 1;
  max-width: 100vw;
  min-height: 100vh;
  border-top: 0.1rem solid #000;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .projects__heading {
    margin: 5rem; }
  .projects__card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem; }
  .projects .card {
    margin: 4rem;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    width: 30rem;
    height: 50rem;
    background: #ffe15f;
    border: 0.4rem solid #000; }
    .projects .card::before {
      border-radius: inherit;
      z-index: -1;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      position: absolute;
      top: -2rem;
      left: 2rem; }
    .projects .card__title {
      color: #000;
      font-size: 2rem;
      letter-spacing: .2rem;
      margin: 1rem 0; }
    .projects .card__img-container {
      position: relative;
      border-radius: 1rem;
      margin: 1rem 0;
      width: 100%;
      height: 20rem;
      background: pink; }
    .projects .card__img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      object-position: center; }
    .projects .card__description {
      margin: 1rem 0;
      text-align: center;
      font-size: 1.4rem; }
    .projects .card__github {
      position: absolute;
      left: 2rem;
      bottom: 2rem;
      font-size: 1.5rem; }
      .projects .card__github i {
        margin-right: .5rem; }
    .projects .card__live-demo {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      font-size: 1.5rem; }

@media (max-width: 1150px) {
  .projects__card-container {
    flex-direction: column; }
  .card {
    width: 85%;
    height: 20rem; } }

.header {
  z-index: -1;
  max-width: 100vw;
  height: 100vh;
  background-image: url("../images/header_background.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: left; }

.about {
  z-index: 1;
  position: absolute;
  right: 0;
  background: black;
  width: 80rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem; }
  .about__avatar {
    border: 0.5rem solid #ffe15f;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    position: relative;
    animation: slideFromRight 1.4s ease-out; }
  .about__img {
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }
  .about__body {
    padding: 5rem;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    animation: slideFromLeft 1.4s ease-out; }
  .about__button {
    animation: slideFromRight 1.4s ease-out;
    font-family: 'Poppins', sans-serif;
    position: relative;
    border: none;
    padding: 1.5rem 2.1rem;
    background: #ffe15f;
    border-radius: 10rem;
    font-size: 2.5rem;
    transition: all .1s; }
    .about__button::after {
      z-index: -1;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      background: white;
      position: absolute;
      top: .5rem;
      left: .5rem; }
    .about__button:active, .about__button:focus {
      outline: none;
      border: none; }
    .about__button:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .about__button:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      font-size: 1.95rem; }
  .about__github {
    position: absolute;
    font-size: 4.5rem;
    bottom: 2rem;
    left: 2rem;
    transition: all 1s;
    animation: fadeIn 1.4s ease-out; }
    .about__github:hover {
      cursor: pointer;
      color: #fff;
      transform: scale(0.98); }

@media (max-width: 1400px) {
  .about {
    width: 100vw;
    background: rgba(0, 0, 0, 0.8); }
    .about__body {
      padding: 2rem; } }

@media (max-width: 850px) {
  .about__github {
    left: 3rem;
    bottom: 3rem; } }

.skills {
  max-width: 100vw;
  min-height: 50vh;
  background: #000;
  color: #ffe15f;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .skills__heading {
    margin: 5rem 0; }
  .skills__container {
    display: flex;
    text-align: center; }
  .skills__category {
    min-width: 40rem; }
  .skills__label {
    font-size: 2.4rem;
    text-decoration: underline; }
  .skills__list {
    font-size: 1.7rem;
    list-style: none; }

@media (max-width: 1150px) {
  .skills__container {
    flex-direction: column; }
  .skills__category {
    margin-bottom: 4rem; } }
