@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
.text-primary {
  color: #ffe15f; }

.heading {
  font-size: 3.5rem;
  background-image: linear-gradient(to bottom, #ffe15f, #000);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }

html {
  font-size: 65%;
  scroll-behavior: smooth; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 100vw;
  background: #ffe15f;
  font-family: 'Poppins', sans-serif; }

@media (max-width: 850px) {
  html {
    font-size: 50%; } }

.header {
  z-index: -1;
  max-width: 100vw;
  height: 100vh;
  background-image: url("../images/header_background.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: left; }

.about {
  z-index: 1;
  position: absolute;
  right: 0;
  background: black;
  width: 80rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem; }
  .about__avatar {
    border: 0.5rem solid #ffe15f;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    position: relative; }
  .about__img {
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }
  .about__body {
    padding: 5rem;
    color: #fff;
    font-size: 2.5rem;
    text-align: center; }
  .about__button {
    position: relative;
    border: none;
    padding: 1.5rem 2.1rem;
    background: #ffe15f;
    border-radius: 10rem;
    font-size: 2.5rem;
    transition: all .5s; }
    .about__button::after {
      z-index: -1;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      background: white;
      position: absolute;
      top: .5rem;
      left: .5rem; }
    .about__button:active, .about__button:focus {
      outline: none;
      border: none; }
    .about__button:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .about__button:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      font-size: 1.95rem; }
  .about__github {
    position: absolute;
    font-size: 4.5rem;
    bottom: 2rem;
    left: 2rem;
    transition: all 1s; }
    .about__github:hover {
      cursor: pointer;
      color: #fff;
      transform: scale(0.98); }

@media (max-width: 1400px) {
  .about {
    width: 100vw;
    background: rgba(0, 0, 0, 0.8); }
    .about__body {
      padding: 2rem; } }

@media (max-width: 850px) {
  .about__github {
    left: 3rem;
    bottom: 3rem; } }

.projects {
  max-width: 100vw;
  height: 100vh;
  border-top: 0.1rem solid #000;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .projects__heading {
    margin: 5rem; }
