@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

html {
    font-size: 65%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    background: var(--color-primary);
    font-family: 'Poppins', sans-serif;
}

.container {
}

@media (max-width: 850px) {
    html {
        font-size: 50%;
    }
}
