.footer {
    max-width: 100vw;
    min-height: 5vh;
    background: var(--color-secondary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    &__github {
        margin: 2rem;
        color: var(--color-primary);
        font-size: 3rem;
        transition: all .5s;

        &:hover {
            cursor: pointer;
            color: var(--color-white);
            transform: scale(0.95);
        }
    }
    &__copyright {
        font-size: 1.8rem;
    }
}