@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(2rem);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight { 
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-2rem)
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}