.text-primary {
    color: $color-primary;
}

.heading {
    font-size: 3.5rem;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
}