.text-primary {
    color: $color-primary;
}

.text-secondary {
    color: $color-secondary;
}

.heading {
    font-size: 3.5rem;
    display: inline-block;
    letter-spacing: 2px;
    transition: all .2s;
}

a {
    color: $color-secondary;
    &:visited {
        color: $color-secondary;
    }
}
