:root {
    --color-primary: #d89286;
    --color-secondary: #c75256;
    --color-white: #fff;
    --background-img: url('../images/header_background2.jpg');
    --color-secondary-transparent: #c75256b8;
}
