:root {
    --color-primary: #78a0d3;
    --color-secondary: #2b3a59;
    --color-white: #fff;
    --background-img: url('../images/header_background2.jpg');
    --color-secondary-transparent: #2b3a59b8;
}