:root {
    --color-primary: #acacb9;
    --color-secondary: #3b4c61;
    --color-white: #fff;
    --background-img: url('../images/header_background2.jpeg');
    --color-secondary-transparent: #c75256b8;
}
